<p id="notice"><%= notice %></p>

<h1 class="text-center text-secondary">Topa Tudo Por Dinheiro</h1>
<h2 class="text-center text-info">Mural de Avisos</h2>

<div class="row">
  <% @notices.each do |notice| %>
  <div class="col-3">
    <div class="card">
      <div class="card-header">
        <%= notice.title %>
      </div>
      <div class="card-body">
        <%= notice.text %>
      </div>
    </div>
  </div>
  <% end %>
</div>



<%= link_to 'Novo Aviso', new_notice_path, :class => 'btn btn-outline-success' %>
